<h1 class="top-left-header"><span class="material-symbols-outlined">
    hive
    </span>Bizi</h1>
    
      
    <a href="/login" class="btn btn-danger logout-button">Logout</a>


<div class="bizi-card-container">
  <div class="card-header col-md-12 text-center">
    <h2 class="top-card-header">
    My Bizi Cards
    </h2>
  </div>
  {{#each cards as |bizi_card|}}
  <div class="bizi_card col-md-4">
    <p>
      {{bizi_card.id}}.
      {{bizicard.user_name}}
    </p>
  </div>
  <div class="col-md-4">
    <p>
      {{bizi_card.email_address}}
    </p>
  </div>
  <div class="col-md-4">
    <p>
      {{bizi_card.phone}}
    </p>
  </div>
  <div class="col-md-4">
    <p>
      {{bizi_card.user_location}}
    </p>
  </div>
  <div class="col-md-4">
    <p>
      {{bizi_card.personal}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      {{bizi_card.title}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      {{bizi_card.company}}
    </p>
  </div>
  {{/each}}

{{!-- digital business card --}}

    {{!-- Contact Info: --}}
        {{!-- Name
        Email
        Phone
        user_location: --}}

<div class="card border-0" id="inputs-section">

    <div class="add-contact-info-container">
        <h3>
            Contact Info
        </h3>
        <form class="contact-info-form">
            <label for="user_name">
                Name:
            </label>
            <br />
            <input type="text" name="user_name" id="user_name" cols="30" rows="1">
                {{user_name}}        
            </input>
            <br />
            <label for="email_address">
                Email:
            </label>
            <br />
            <input type="text" name="email_address" id="email_address" cols="30" rows="1">
                {{email_address}}
            </input>
            <br />
            <label for="phone">
                Phone:
            </label>
            <br/>
            <input type="text" name="phone" id="phone" cols="30" rows="1">
                {{phone}}
            </input>
            <br />
            <label for="user_location">
                City, State:
            </label>
            <br />
            <input type="text" name="user_location" id="user_location" cols="30" rows="1">
                {{user_location}}
            </input>
            <br />        
        </form>
    </div>

    {{!-- Personal Profile --}}
        {{!-- What I do for You:
            personal snippet --}}

    <div class="personal-snippet">
        <h3>Personal Profile</h3>
        <form class="personal-form">
            <label for="personal">
                What I do for You:
            </label>
            <br />
            <textarea name="personal" id="personal" cols="30" rows="1">
                {{personal}}
            </textarea>
            <br />        
        </form>
    </div>

    {{!-- Job Title and Company --}}
        {{!-- Work:
            Job Title
            Company Name --}}
        
    <div class="job-container">
        <h3>
            Work
        </h3>
        <form class="work-form">
            <label for="title">
                Title:
            </label>
            <br />
            <input type="text" name="title" id="title" cols="30" rows="1">
                {{title}}        
            </input>
            <br />
            <label for="company">
                Company Name:
            </label>
            <br />
            <input type="text" name="company" id="company" cols="30" rows="1">
                {{company}}
            </input>
            <br />
            <button type="submit" value="Submit">
            Submit
            </button>
            <br  />
        </form>
    </div>
</div>

<footer class="text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white">
        © 2023 All Rights Reserved: By Keith Primas, Alejandro Reyes-Solis, and Ben Palacpac
    </div>
    <!-- Copyright -->
</footer>

<link rel="stylesheet" type="text/css" href="./css/home.css">


<script src="/assets/js/logout.js"></script>
<script src="/assets/js/inputs.js"></script>







