{{!-- digital business card --}}

    {{!-- Contact Info: --}}
        {{!-- Name
        Email
        Phone
        Location: --}}

<div class="card border-0" id="inputs-section">

    <div class="add-contact-info-container">
        <h3>
            Contact Info
        </h3>
        <form class="contact-info-form">
            <label for="user_name">
                Name:
            </label>
            <br />
            <input type="text" name="user_name" id="user_name" cols="30" rows="1">
                {{user_name}}        
            </input>
            <br />
            <label for="email_address">
                Email:
            </label>
            <br />
            <input type="text" name="email_address" id="email_address" cols="30" rows="1">
                {{email_address}}
            </input>
            <br />
            <label for="phone_number">
                Phone:
            </label>
            <br/>
            <input type="text" name="phone_number" id="phone_number" cols="30" rows="1">
                {{phone_number}}
            </input>
            <br />
            <label for="location">
                City, State:
            </label>
            <br />
            <input type="text" name="location" id="location" cols="30" rows="1">
                {{location}}
            </input>
            <br />        
        </form>
    </div>

    {{!-- Personal Profile --}}
        {{!-- What I do for You:
            personal snippet --}}

    <div class="personal-snippet">
        <h3>Personal Profile</h3>
        <form class="personal-form">
            <label for="personal">
                What I do for You:
            </label>
            <br />
            <textarea name="personal" id="personal" cols="30" rows="1">
                {{personal}}
            </textarea>
            <br />        
        </form>
    </div>

    {{!-- Job Title and Company --}}
        {{!-- Work:
            Job Title
            Company Name --}}
        
    <div class="add-job-container">
        <h3>
            Work
        </h3>
        <form class="job-one-form">
            <label for="title">
                Title:
            </label>
            <br />
            <input type="text" name="title" id="title" cols="30" rows="1">
                {{title}}        
            </input>
            <br />
            <label for="company">
                Company Name:
            </label>
            <br />
            <input type="text" name="company" id="company" cols="30" rows="1">
                {{company}}
            </input>
            <br />
            <button type="submit" value="Submit">
            Submit
            </button>
            <br  />
        </form>
    </div>
</div>

<footer class="text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white">
        © 2023 All Rights Reserved: By Keith Primas, Alejandro Reyes-Solis, and Ben Palacpac
    </div>
    <!-- Copyright -->
</footer>


<script src="/assets/js/inputs.js"></script>







